@silver: #01665e;

.margenes(@top: 0px, @bottom: 0px) {
  margin-top: @top;
  margin-bottom: @bottom;
}

.jumbotron {
  background-color: @silver;
  color: black;
  .margenes(50px, 0px);
}

footer {
  padding: 10px 10px 0 10px;
  background-color: @silver;
  color: black;
  .margenes(50px, 0px);
}

.card-book {
  flex: 1 200px;
  .margenes(50px, 0px);
}

.btn-reserva {
  width: 100%;
  border-radius: 0px; }

.footer-address-icon {
  padding-right: 10px; }

.img-fluid {
  max-width: 100%;
  height: auto;
  border-radius: 0px; }

.tab-content {
  padding-top: 10px; }

.button-question-icon {
  padding-right: 10px; }

.btn-consulta {
  margin-top: 10px; }
