$silver: #a8a5a5;
$yellow: #fae123;
$red: #d61a09;
$green: #198c29;

@mixin margenes($top, $bottom) {
	margin-top: $top;
	margin-bottom: $bottom;
}

.jumbotron {
	background-color: $silver;
	color: black;
	@include margenes(0px, 50px);
}

footer {
	padding: 10px 10px 0 10px;
	background-color: $silver;
	color: black;
	@include margenes(50px, 0px)
}

.card-book {
	flex: 1 200px;
	@include margenes(10px, 0px)
}

.btn-reserva {
	width: 100%;
	border-radius: 0px;
}

.footer-address-icon {
	padding-right: 10px;
	
}

.img-fluid {
	max-width: 100%;
	height: auto;
	border-radius: 0px
}

.tab-content {
	padding-top: 10px;
}

.button-question-icon {
	padding-right: 10px;
}

.btn-consulta {
	margin-top: 10px;
}