.jumbotron {
  background-color: #01665e;
  color: black;
  margin-top: 50px;
  margin-bottom: 0px;
}
footer {
  padding: 10px 10px 0 10px;
  background-color: #01665e;
  color: black;
  margin-top: 50px;
  margin-bottom: 0px;
}
.card-book {
  flex: 1 200px;
  margin-top: 50px;
  margin-bottom: 0px;
}
.btn-reserva {
  width: 100%;
  border-radius: 0px;
}
.footer-address-icon {
  padding-right: 10px;
}
.img-fluid {
  max-width: 100%;
  height: auto;
  border-radius: 0px;
}
.tab-content {
  padding-top: 10px;
}
.button-question-icon {
  padding-right: 10px;
}
.btn-consulta {
  margin-top: 10px;
}
